<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" >
<head>
  <title> All books</title>
  <link rel="stylesheet" th:href="@{/styles/style.css}">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

  <script>
    $( function() {
      var availableTags = []
      $.getJSON('/json/metropolises.json', function(data) {
        $.each( data.data, function( i, item ) {
          availableTags.push(item)
        });
      })
      $("#city").autocomplete({
        source: availableTags
      });
    } );
  </script>

</head>



</script>
<body>
<nav th:fragment="nav" id="booksnav" class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand col-8" href="/" style="margin-left:5%">
    <img src="https://oprezi.ru/fl/image.raw?view=image&type=img&id=276" width="30" height="30" class="d-inline-block align-top" alt="">
    Book Circulation
  </a>
  <div class="collapse navbar-collapse" id="navbarCommands" >
    <div class="navbar-nav">
      <a  class="nav-item nav-link" th:href="@{/books}"> <b> Books </b> </a>
      <div class="w3-dropdown-hover">
        <a  class="nav-item nav-link"> <b> My profile </b>  </a>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a  th:href="@{/myprofile}" class="w3-bar-item w3-button"> Edit </a>
          <form th:action="@{/logout}" method="post">
            <input type="submit" class="w3-bar-item w3-button" value="Sign Out"/>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>


<div th:fragment="menu" class="w3-sidebar w3-bar-block w3-pale-green" style="width:15%; top: 54px;">
  <br> <br>

  <a th:href="@{/mybooks}" class="w3-bar-item w3-button"> My books </a>

  <a th:href="@{/add_book}" class="w3-bar-item w3-button"> Add new book </a>


    <button class="w3-button" style="border: none" onclick="myAccFunc('demoAcc1')"> Requests for exchange
      <i class="fa fa-caret-down"></i>
    </button>

    <div id="demoAcc1" class="w3-hide w3-bar-block w3-pale-yellow">
      <a th:href="@{/my_requests}" class="w3-bar-item w3-button"> From me </a>
      <a th:href="@{/requests_to_me}" class="w3-bar-item w3-button"> To me </a>
    </div>

    <button class="w3-button" onclick="myAccFunc('demoAcc2')"> Exchanges
      <i class="fa fa-caret-down"></i>
    </button>

    <div id="demoAcc2" class="w3-hide w3-bar-block w3-pale-yellow">
      <a th:href="@{/responses_to_me}" class="w3-bar-item w3-button"> Possible </a>
      <a th:href="@{/deals}" class="w3-bar-item w3-button"> Current </a>
      <a th:href="@{/completed_deals}" class="w3-bar-item w3-button"> Completed </a>
    </div>

  <script>
    function myAccFunc(id) {
      var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
        } else {
          x.className = x.className.replace(" w3-show", "");
        }
    }
  </script>


  <a th:href="@{/prolong_requests}" class="w3-bar-item w3-button"> Prolong exchange requests </a>

</div>

<br><br><br>

<form class="example" th:action="@{/books}"  style="margin-left:20%">
  <div class="w3-container">
  <label for="check" style="font-size: large"> Show only available books </label>
  <input type="checkbox" id="check" name="checkbox" th:checked="${showFlag}"/>
    <br>
    <label for="delivery" style="font-size: large"> Show only books with possibility of delivery </label>
    <input type="checkbox" id="delivery" name="delivery" th:checked="${showFlagDelivery}"/>
    <br>
    <label for="city" style="font-size: large"> Enter city where to exchange </label>
    <input id="city" name="city" th:value="${selectedCity}">
    <br>
  <input type="text" placeholder="Find books by name or filter..." th:name="name">
  <button  type="submit"><i class="fa fa-search"></i></button>
  </div>
</form>


<div th:fragment="booksList" class="w3-container" style="margin-left:15%;">
  <div  th:if="${not #lists.isEmpty(books)}">
    <div class="parent w3-row w3-padding-64 w3-center" style="width: 100%;"
         th:each="book : ${books}">

      <div class="col w3-sand w3-container" style="width: 60%; border-radius: 6px;">
        <h1 th:text="${book.getName()}" class="w3-brown w3-center" style="width: 100%"></h1>
        <div class="w3-container w3-padding-16">
          <h4 th:onclick="|document.getElementById(${book.id}).style.display='block'|"
              class="w3-sand w3-center" style="cursor: pointer; text-decoration: underline"> Read description from Google Books </h4>
          <div th:id="${book.id}" class="w3-modal">
            <div class="w3-modal-content">
              <header class="w3-container w3-pale-green">
        <button th:onclick="|document.getElementById(${book.id}).style.display='none'|"
              class="w3-button w3-display-topright w3-larger"> &times;</button>
                <h2 th:text="${book.getName() + ': description from Google Books' }" ></h2>
              </header>
              <div class="w3-container">
                <br>
                <p th:id="'desc' + ${book.id}"> </p>
              </div>
            </div>
          </div>
        </div>


        <p> <b>Author:</b> <span th:text="${book.getAuthor()}"> </span> </p>
        <p> <b>Condition:</b> <span th:text="${book.getCondition()}"> </span> </p>
        <p th:if="${!book.getReturnDate().isEmpty()}"> <b>Date to return: </b> <span th:text="${book.getReturnDate()}"> </span> </p>
        <p th:if="${book.getReturnDate().isEmpty()}"> <b>Owner wants to exchange this book forever.</b> </p>
        <p th:if="${book.getDescription != null && !book.getDescription.isEmpty()}"> <b> Description:</b> <span th:text="${book.getDescription()}"> </span>  </p>
        <p> <b>Owner:</b> <a th:href="@{/user_page/{id}(id = ${book.getUser().getId()})}" th:text="${book.getUser().getFullName()}"> </a> </p>
        <p class="statusP" th:if="${book.available}"><span> This book is available</span> </p>
        <p class="statusP" th:unless="${book.available}"><span style="color: red">This book is already in the deal</span> </p>

        <a th:if="${book.available}" class="w3-button w3-pale-green" th:href="@{/books/first_request/{id}(id=${book.getId()})}">Start request</a>
      </div>


      <div class="cover col w3-sand w3-container" style="width: 40%">
        <img th:id="'cover' + ${book.id}" th:src="@{${book.getPhotosImagePath()}}" style="height:70%; width: 70%"/>

                <script th:inline="javascript">

                  function setDefault(h) {
                    $('#desc' + h).text("No description from Google books");
                    if ([[${book.getPhotosImagePath()}]] == null)
                      $('#cover' + h).attr("src", 'https://png.pngtree.com/element_our/20190529/ourlarge/pngtree-learning-book-textbook-illustration-image_1216468.jpg');
                  }

                  function handleResponse(response) {
                    let flagSrc = false;
                    let flagDesc = false;
                    let h = [[${book.id}]]
                    let checkImage = [[${book.getPhotosImagePath()}]]
                    if (checkImage != null)
                      flagSrc = true;
                    console.log(response.totalItems)
                  //  $('#cover' + h).height = 500;


                    if (response.totalItems == 0) {
                      setDefault(h);
                      return;
                    }

                    for (let i = 0; i < response.items.length; i++) {
                      if (flagDesc == true && flagSrc == true)
                        return;
                      if (response.items[i].volumeInfo.imageLinks !== undefined && flagSrc == false) {
                        $('#cover' + h).attr("src", response.items[i].volumeInfo.imageLinks.thumbnail);
                        flagSrc = true;
                      }
                      if (response.items[i].volumeInfo.description !== undefined && flagDesc == false) {
                        $('#desc' + h).text(response.items[i].volumeInfo.description);
                        flagDesc = true;
                      }
                    }

                    if (!flagDesc || !flagSrc)
                      setDefault(h);
                  }
                </script>

                <script  th:src="'https://www.googleapis.com/books/v1/volumes?q=' +
        ${book.getName()} +  '+intitle:' +  ${book.getName()} +
        '+author:' +  ${book.getAuthor()} + '&maxResults=5' + '&callback=handleResponse'" >
                </script>


      </div>

    </div>
  </div>

</div>

</body>
</html>