<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title> Edit info </title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

    <script>
        $( function() {
            var availableTags = []
            $.getJSON('/json/cities.json', function(data) {
                $.each( data.data, function( i, item ) {
                    availableTags.push(item)
                });
            })
            $( "#city" ).autocomplete({
                source: availableTags
            });
        } );
    </script>

</head>
<body>
<nav th:replace="books.html :: nav"></nav>
<div th:replace="books.html :: menu"> </div>
<div class="text-center p-3" >
    <h1>Edit Profile</h1>
</div>
<div class="container" >
    <form th:action="@{/edit_person}" th:object="${person}" method="post"
          style="max-width: 500px; margin: 0 auto;">
        <input type="hidden" th:field="*{id}" th:value="${person.id}"/>
        <div class="form-group row" style="margin: 0 0 20px;">
            <label class="col-form-label col-sm-4">Name *</label>
            <div class="col-sm-8">
                <input type="text" name="firstname" placeholder="Firstname" th:field="*{firstname}" th:value="${person.firstname}" class="form-control" required>
            </div>
            <div th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">Name error</div>
        </div>
        <div class="form-group row" style="margin: 0 0 20px;">
            <label class="col-form-label col-sm-4">Lastname *</label>
            <div class="col-sm-8">
                <input type="text" name="lastname" placeholder="Lastname" th:field="*{lastname}" th:value="${person.lastname}" class="form-control" required>
            </div>
            <div th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Name error</div>
        </div>
        <input type="hidden" name="email" placeholder="Email" th:field="*{email}" th:value="${person.email}"  class="form-control" required>
        <input type="hidden" name="password" maxlength="16" placeholder="Password" th:field="*{password}" th:value="${person.password}" class="form-control" required>
        <div class="form-group row" style="margin: 0 0 20px;">
            <label class="col-form-label col-sm-4">Bio</label>
            <div class="col-sm-8">
                <input type="text" name="bio"  th:field="*{bio}" th:value="${person.bio}"  class="form-control">
            </div>
            <div th:if="${#fields.hasErrors('bio')}" th:errors="*{bio}">Name error</div>
        </div>
        <div class="form-group row" style="margin: 0 0 20px;">
            <label class="col-form-label col-sm-4">Social media </label>
            <div class="col-sm-8">
                <input type="text" name="socialMedia"  th:field="*{socialMedia}" th:value="${person.socialMedia}"  class="form-control">
            </div>
            <div th:if="${#fields.hasErrors('socialMedia')}" th:errors="*{socialMedia}">Name error</div>
        </div>


        <div class="form-group row" style="margin: 0 0 20px;">
            <label class="col-form-label col-sm-4">City</label>
            <div class="col-sm-8">
                    <input id="city" name="city" th:field="*{city}" th:value="${person.city}">
            </div>

        </div>


        <div class="form-group row" style="margin: 0 0 20px;">
            <input type="checkbox" id="delivery" name="delivery" th:field="*{delivery}" th:value="${person.delivery}"  class="w3-check w3-margin-top col-sm-4">
            <label for="delivery"> Delivery to others cities </label>
        </div>
        <div class="form-group row" style="margin: 0 0 20px;">
            <input type="checkbox" id="notice" name="notice" th:field="*{notice}" th:value="${person.notice}"  class="w3-check w3-margin-top col-sm-4">
            <label for="delivery"> Receive notifications by email </label>
        </div>
        <a th:href="@{/change_password_send}"> Change password </a>
        <p th:if="${message}"><span th:text="${message}"> </span> </p>
        <div style="display:flex;justify-content:center;align-items:center;">
            <button type="submit" class="w3-button" style="background-color: darkseagreen; border: none; width: 100px">Save</button>
        </div>
    </form>
</div>


</body>
</html>