<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title> Leave review </title>
  <link rel="stylesheet" th:href="@{/styles/style.css}">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<style>
</style>
<body>
<nav th:replace="books.html :: nav"></nav>
<div th:replace="books.html :: menu"> </div>
<br><br><br>
<div class="text-center p-3">
  <h1>Review</h1>
</div>
<div class="container">
  <form th:action="@{/review/{id1}/{id2}(id2=${ids}, id1=${idf})}" th:object="${review}" method="post"
        style="max-width: 500px; margin: 0 auto;">
    <div class="form-group row" style="margin: 0 0 20px;">
      <label class="col-form-label col-sm-4">Exchange review</label>
      <div class="col-sm-8">
        <textarea class="form-control" id="note" rows="5"
                  name="note"
                  placeholder="message" th:maxlength="240" th:field="*{note}"
                  required="required"></textarea>
      </div>
    </div>
    <div style="display:flex;justify-content:center;align-items:center;">
      <button type="submit" class="w3-button" style="background-color: darkseagreen; border: none; width: 100px">Save</button>
    </div>
  </form>
</div>


</body>
</html>
