<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title> Sign in </title>
  <link rel="stylesheet" th:href="@{/styles/style.css}">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: darkseagreen">
  <a style="margin-left:5%" class="navbar-brand col-8" href="/">
    <img src="https://oprezi.ru/fl/image.raw?view=image&type=img&id=276" width="30" height="30" class="d-inline-block align-top" alt="">
    Book Circulation
  </a>
  <div class="collapse navbar-collapse" id="navbarCommands" >
    <div class="navbar-nav">
      <a class="nav-item nav-link" aria-current="page" href="/"> Home </a>
      <a class="nav-item nav-link" th:href="@{/sign_up}">Sign up </a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <h5 class="card-title text-center mb-5 fw-light fs-5">Sign In</h5>
          <form th:action="@{/login}" method="post">

          <div class="form-floating mb-3">
            <label for="floatingInput"> Email address </label>
            <input type="email"  name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              </div>

            <div class="form-floating mb-3">
              <label for="floatingPassword"> Password</label>
              <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
               </div>

            <div class="form-floating mb-3">
              <label for="remember"> Remember me </label>
            <input type="checkbox" id="remember" name="remember-me" />
            </div>
            <div class="d-grid">
              <div style="display:flex;justify-content:center;align-items:center;">
                <button type="submit" class="w3-button" style="background-color: darkseagreen; width: 100px">Sign in</button>
              </div>
            </div>
            <div th:if="${param.error}">
              Invalid email or password.
            </div>
            <div th:if="${param.logout}">
              You have been logged out.
            </div>
            <p th:utext="${message}"></p>
            <hr class="my-4">
            <div class="d-grid">
                <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline" th:href="@{/oauth2/authorization/google}">
                  <img src="https://img.icons8.com/color/16/000000/google-logo.png">
                  Sign in with Google</a> </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>