<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title> My requests </title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>

<nav th:replace="books.html :: nav"></nav>
<div th:replace="books.html :: menu"> </div>
<br><br><br>
<div class="text-center p-3">
    <h1> Requests from me</h1>
</div>

<div th:fragment="booksList" class="w3-container" style="margin-left:15%">
    <div th:if="${not #lists.isEmpty(reqs)}">
        <div class="parent w3-row w3-padding-64 w3-center" style="width:100%" th:each="req : ${reqs}">
            <div class="col w3-sand w3-container" style="width:60%">
                <h1 th:text="${req.getRespondentsBook().getName()}" class="w3-brown w3-center"></h1>
                <p> Author: <span th:text="${req.getRespondentsBook().getAuthor()}"> </span> </p>
                <p> Condition: <span th:text="${req.getRespondentsBook().getCondition()}"> </span> </p>
                <p th:if="${!req.getRespondentsBook().getReturnDate().isEmpty()}"> <b>Date to return: </b> <span th:text="${req.getRespondentsBook().getReturnDate()}"> </span> </p>
                <p th:if="${req.getRespondentsBook().getReturnDate().isEmpty()}"> <b>Owner wants to exchange this book forever.</b> </p>
                <p th:if="${!req.bookDelivery}"> <b> Needs delivery </b></p>
                <p> Owner : <a style="text-decoration: underline" th:href="@{/user_page/{id}(id = ${req.getRespondentsBook().getUser().getId()})}" th:text="${req.getRespondentsBook().getUser().getFullName()}"> </a> </p>
                <p> Message from me : <span th:if="${req.getNote() != null}" th:text="${req.getNote()}"> </span> </p>
                <p> Status : <span th:text="${req.getStatus()}"> </span> </p>
            </div>
            <div style="width:40%" class="col w3-container w3-sand">
                <img th:id="'cover' + ${req.respondentsBook.id}" th:src="@{${req.respondentsBook.getPhotosImagePath()}}" style="height: 300px; width: 250px"/>

                <script th:inline="javascript">

                    function setDefault(h) {
                        $('#desc' + h).text("No description from Google books");
                        if ([[${req.respondentsBook.getPhotosImagePath()}]] == null)
                            $('#cover' + h).attr("src", 'https://png.pngtree.com/element_our/20190529/ourlarge/pngtree-learning-book-textbook-illustration-image_1216468.jpg');
                    }

                    function handleResponse(response) {
                        let flagSrc = false;
                        let h = [[${req.respondentsBook.id}]]
                        let checkImage = [[${req.respondentsBook.getPhotosImagePath()}]]
                        if (checkImage != null)
                            flagSrc = true;
                        console.log(response.totalItems)


                        if (response.totalItems == 0) {
                            setDefault(h);
                            return;
                        }

                        for (let i = 0; i < response.items.length; i++) {
                            if (flagSrc == true)
                                return;
                            if (response.items[i].volumeInfo.imageLinks !== undefined && flagSrc == false) {
                                $('#cover' + h).attr("src", response.items[i].volumeInfo.imageLinks.thumbnail);
                                flagSrc = true;
                            }
                        }

                        if (!flagSrc)
                            setDefault(h);
                    }
                </script>


                <script  th:src="'https://www.googleapis.com/books/v1/volumes?q=' + ${req.respondentsBook.getName} +  '+intitle:' +  ${req.respondentsBook.getName} +
                '+author:' +  ${req.respondentsBook.getAuthor()} + '&maxResults=5' + '&callback=handleResponse'" >
                </script>
            </div>
        </div>
    </div>
</div>

</body>
</html>

