<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title> Prolong requests </title>
  <link rel="stylesheet" th:href="@{/styles/style.css}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<nav th:replace="books.html :: nav"></nav>
<div th:replace="books.html :: menu"> </div>
<br><br><br>
<div class="text-center p-3">
  <h1> Requests to prolong deadline of current exchanges </h1>
</div>

<div th:fragment="booksList" class="w3-container" style="margin-left:15%">
  <div th:if="${not #lists.isEmpty(prolongs)}">
    <div class="w3-row w3-padding-64 w3-center" th:each="req : ${prolongs}">
      <div>
        <div class="w3-twothird w3-sand w3-container">

          <h1 class="w3-text-brown" th:text="${req.getDeal().getInitiatorsBook().getName()}"></h1>
          <span> on </span>
          <h1 class="w3-text-brown" th:text="${req.getDeal().getRespondentsBook().getName()}"></h1>
          <p> Date to return: <span th:text="${req.getNewReturnDate()}"> </span> </p>
          <a  class="w3-button w3-pale-green"
             th:href="@{/prolongs/accept/{id}(id=${req.getId()})}"> Accept </a>
          <a class="w3-button w3-pale-red" th:href="@{/prolongs/reject/{id}(id=${req.getId()})}"> Reject </a>
        </div>

      </div>
    </div>
  </div>
</div>

</body>
</html>