<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Possible deals </title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
</head>
<body>
<nav th:replace="books.html :: nav"></nav>
<div th:replace="books.html :: menu"> </div>
<br><br><br>
<div class="text-center p-3">
    <h1> Possible deals </h1>
</div>

<div class="w3-container" style="margin-left:15%">
    <div th:if="${not #lists.isEmpty(deals)}">
        <div class="parent w3-row w3-padding-64 w3-center" style="width: 100%" th:each="deal : ${deals}">

            <div  style="width: 25%" class="col w3-sand w3-container">
                <img th:id="'cover' + ${deal.initiatorsBook.id}" th:src="@{${deal.initiatorsBook.getPhotosImagePath()}}" style="height: 350px; width: 300px"/>

                <script th:inline="javascript">

                    function setDefault(h) {
                        $('#desc' + h).text("No description from Google books");
                        if ([[${deal.initiatorsBook.getPhotosImagePath()}]] == null)
                            $('#cover' + h).attr("src", 'https://png.pngtree.com/element_our/20190529/ourlarge/pngtree-learning-book-textbook-illustration-image_1216468.jpg');
                    }

                    function handleResponse(response) {
                        let flagSrc = false;
                        let h = [[${deal.initiatorsBook.id}]]
                        let checkImage = [[${deal.initiatorsBook.getPhotosImagePath()}]]
                        if (checkImage != null)
                            flagSrc = true;
                        console.log(response.totalItems)


                        if (response.totalItems == 0) {
                            setDefault(h);
                            return;
                        }

                        for (let i = 0; i < response.items.length; i++) {
                            if (flagSrc == true)
                                return;
                            if (response.items[i].volumeInfo.imageLinks !== undefined && flagSrc == false) {
                                $('#cover' + h).attr("src", response.items[i].volumeInfo.imageLinks.thumbnail);
                                flagSrc = true;
                            }
                        }

                        if (!flagSrc)
                            setDefault(h);
                    }
                </script>


                <script  th:src="'https://www.googleapis.com/books/v1/volumes?q=' +
        ${deal.initiatorsBook.getName} +  '+intitle:' +  ${deal.initiatorsBook.getName} +
        '+author:' +  ${deal.initiatorsBook.getAuthor()} + '&maxResults=5' + '&callback=handleResponse'" >
                </script>
            </div>

            <div th:if="${deal.initiatorsBook.getPhotosImagePath() == null}" style="width: 25%" class="col w3-sand w3-container">
                <img class="w3-border w3-center"  width="300" height="350"
                     src="https://png.pngtree.com/element_our/20190602/ourlarge/pngtree-blue-book-decoration-illustration-image_1387046.jpg">
            </div>

            <div class="col w3-sand w3-container" style="width: 50%">
                <h1 class="w3-text-brown" th:text="${deal.getInitiatorsBook().getName()}"></h1>
                <span> on </span>
                <h1 class="w3-text-brown" th:text="${ deal.getRespondentsBook().getName()}"></h1>
                <p> Second user: <a th:href="@{/user_page/{id}(id = ${deal.getRespondentsBook().getUser().getId()})}" th:text="${deal.getRespondentsBook().getUser().getFullName()}"> </a> </p>

                <p th:if="${deal.getReturnDate() != null}"> Date to return: <span th:text="${deal.getReturnDate()}"> </span> </p>
                <p th:if="${deal.getReturnDate() == null}"> Exchange forever! </p>

                <p th:if="${deal.delivery}" class="w3-text-brown"> Needs delivery to <span th:text="${deal.respondentsBook.user.city}"> </span></p>
                <a class="w3-button w3-pale-green"
                   th:href="@{/start_deal/{dealId}/(dealId=${deal.getId()})}"> I agree, start deal! </a>
                <a class="w3-button w3-pale-red"
                   th:href="@{/reject_deal/{dealId}/(dealId=${deal.getId()})}"> No, I decided not to exchange. </a>
            </div>

            <div style="width: 25%" class="col w3-sand w3-container">
                <img th:id="'cover' + ${deal.respondentsBook.id}" th:src="@{${deal.respondentsBook.getPhotosImagePath()}}" style="height: 350px; width: 300px"/>

                <script th:inline="javascript">

                    function setDefault(h) {
                        $('#desc' + h).text("No description from Google books");
                        if ([[${deal.respondentsBook.getPhotosImagePath()}]] == null)
                            $('#cover' + h).attr("src", 'https://png.pngtree.com/element_our/20190529/ourlarge/pngtree-learning-book-textbook-illustration-image_1216468.jpg');
                    }

                    function handleResponse(response) {
                        let flagSrc = false;
                        let h = [[${deal.respondentsBook.id}]]
                        let checkImage = [[${deal.respondentsBook.getPhotosImagePath()}]]
                        if (checkImage != null)
                            flagSrc = true;
                        console.log(response.totalItems)


                        if (response.totalItems == 0) {
                            setDefault(h);
                            return;
                        }

                        for (let i = 0; i < response.items.length; i++) {
                            if (flagSrc == true)
                                return;
                            if (response.items[i].volumeInfo.imageLinks !== undefined && flagSrc == false) {
                                $('#cover' + h).attr("src", response.items[i].volumeInfo.imageLinks.thumbnail);
                                flagSrc = true;
                            }
                        }

                        if (!flagSrc)
                            setDefault(h);
                    }
                </script>


                <script  th:src="'https://www.googleapis.com/books/v1/volumes?q=' +
        ${deal.respondentsBook.getName} +  '+intitle:' +  ${deal.respondentsBook.getName} +
        '+author:' +  ${deal.respondentsBook.getAuthor()} + '&maxResults=5' + '&callback=handleResponse'" >
                </script>
            </div>




        </div>
    </div>
</div>


</body>
</html>