<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<style>
</style>
<body>
<nav id="nav" class="navbar navbar-expand-lg navbar-light" style="background-color: darkseagreen">
    <a style="margin-left:5%" class="navbar-brand col-8" href="/">
        <img src="https://oprezi.ru/fl/image.raw?view=image&type=img&id=276" width="30" height="30" class="d-inline-block align-top" alt="">
        Book Circulation
    </a>
    <div class="collapse navbar-collapse" id="navbarCommands" >
        <div class="navbar-nav">
            <a class="nav-item nav-link" aria-current="page" href="/"> Home </a>
        </div>
    </div>
</nav>
<br><br>
<div class="text-center p-3">
    <h1>Sign up</h1>
</div>
<div class="container w3-center">
    <form th:action="@{/sign_up}" th:object="${person}" method="post"

          style="max-width: 500px; margin: 0 auto;">
        <input type="hidden" th:field="*{id}" th:value="${person.id}"/>
        <div class="form-group row" style="margin: 0 0 20px;">
            <label class="col-form-label col-sm-4">Name *</label>
            <div class="col-sm-8">
                <input type="text" name="firstname" placeholder="Firstname" th:field="*{firstname}" class="form-control" required>
            </div>
            <div th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">Name error</div>
        </div>
        <div class="form-group row" style="margin: 0 0 20px;">
            <label class="col-form-label col-sm-4">Lastname *</label>
            <div class="col-sm-8">
                <input type="text" name="lastname" placeholder="Lastname" th:field="*{lastname}" class="form-control" required>
            </div>
            <div th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Name error</div>
        </div>
        <div class="form-group row" style="margin: 0 0 20px;">
            <label class="col-form-label col-sm-4">Email *</label>
            <div class="col-sm-8">
                <input type="text" name="email" placeholder="Email" th:field="*{email}" class="form-control" required>
            </div>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name error</div>
        </div>
        <div class="form-group row" style="margin: 0 0 20px;">
            <label class="col-form-label col-sm-4">Password *</label>
            <div class="col-sm-8">
                <input type="password" name="password" maxlength="16" placeholder="Password" minlength="8" th:field="*{password}" class="form-control" required>
            </div>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name error</div>
        </div>
        <div style="display:flex;justify-content:center;align-items:center;">
            <button type="submit" class="w3-button" style="background-color: darkseagreen; border: none; width: 100px"> Register </button>
        </div>
        <div style="display:flex;justify-content:center;align-items:center;">
            <p th:utext="${message}"></p>
        </div>
    </form>
    <div class="w3-center">
        or <br>
        <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline" width="700" th:href="@{/oauth2/authorization/google}" style>
            <img src="https://img.icons8.com/color/16/000000/google-logo.png">
            Sign in with Google</a> </div>
</div>

</body>
</html>